<div class="container-fluid">
  <div class="grid container">
    <form class="example-form" style="text-align: center">
      <mat-form-field class="full-width">
        <input mat-raised-button color="accent" type="text"  matInput placeholder="Search images here">
        <button mat-raised-button color="accent" mat-button mat-icon-button matSuffix><mat-icon >search</mat-icon></button>
      </mat-form-field>
    </form>
  </div>
  <section><div class="container">
    <div class="tags">Tags:<ul><li>Wallpapers</li><li>Vectors</li><li>Fantasy</li></ul></div>
  </div></section>
  <div class=" container-fluid">
  <app-images-list>
  </app-images-list>
  </div>
</div>
