<mat-drawer-container class="example-container" autosize style="    overflow: hidden;">
  <mat-drawer #drawer class="example-sidenav" style="overflow:hidden;">
    <app-side-nav-user-avatar></app-side-nav-user-avatar>

    <button mat-menu-item autofocus="false" [matMenuTriggerFor]="vertebrates">Wallpapers</button>
    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Vectors</button>
    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fantasy</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Adventure</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Horror</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>
    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>
    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
  </mat-drawer>

  <div class="example-sidenav-content grid">
    <div>
    <button type="button"   mat-icon-button  mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="margin"><app-header></app-header></div>
    <div >
      <button mat-icon-button [matMenuTriggerFor]="appMenu"   [matMenuTriggerData]="{name: 'Sally'}">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent let-name="name" yPosition="after">
        <!--<button mat-menu-item>Settings</button>-->
        <button mat-menu-item>Log off {{name}}</button>
      </ng-template>
    </mat-menu>
    </div>
    <app-body></app-body>







  </div>

<div class="grid">

<app-footer></app-footer>
</div>

</mat-drawer-container>
