
<div class="row  " class="text-center">

<!--<section name="popularImages" class="popularImages">-->
<!--<h1>Popular Images </h1>-->
  <!--<div class="row">-->
    <!--<div class="column">-->
      <!--<img src="/assets/img/benches.jpg" style="width:100%">-->

    <!--</div>-->
    <!--<div class="column">-->
      <!--<img src="/assets/img/benches.jpg" style="width:100%">-->

    <!--</div>-->
    <!--<div class="column">-->
      <!--<img src="/assets/img/benches.jpg" style="width:100%">-->

    <!--</div>-->
    <!--<div class="column">-->
      <!--<img src="/assets/img/benches.jpg" style="width:100%">-->
     <!--</div>-->

<!--</div>-->
<!--</section>--><mat-tab-group style="overflow: hidden">
  <mat-tab label="First">
    <ng-template matTabContent>

           <div class="row">
          <div class="column">
            <img src="/assets/img/img1 (1).jpg" style="width:100%">


          </div>
          <div class="column">
            <img src="/assets/img/img1 (2).jpg" style="width:100%">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">

          </div>
          <div class="column">
            <img src="/assets/img/img1 (3).jpg" style="width:100%">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">

          </div>
          <div class="column">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">
          </div>
           </div>


    </ng-template>
  </mat-tab>
  <mat-tab label="Second">
    <ng-template matTabContent>

      <div class="row">
          <div class="column">
            <img src="/assets/img/img1 (1).jpg" style="width:100%">


          </div>
          <div class="column">
            <img src="/assets/img/img1 (2).jpg" style="width:100%">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">

          </div>
          <div class="column">
            <img src="/assets/img/img1 (3).jpg" style="width:100%">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">

          </div>
          <div class="column">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">
          </div>

      </div>

    </ng-template>
  </mat-tab>
  <mat-tab label="Third">
    <ng-template matTabContent>

<div class="row">
          <div class="column">
            <img src="/assets/img/img1 (1).jpg" style="width:100%">
          </div>
          <div class="column">
            <img src="/assets/img/img1 (2).jpg" style="width:100%">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">

          </div>
          <div class="column">
            <img src="/assets/img/img1 (3).jpg" style="width:100%">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">

          </div>
          <div class="column">
            <img src="/assets/img/img1 (4).jpg" style="width:100%">
          </div>

</div>

    </ng-template>
  </mat-tab>
</mat-tab-group>


</div>
